        <div class="row padding" style="padding:20px;">
		{% assign folder1 = site.pages | sort: 'sort_id' %}
		{% for solution in folder1 %}
		{% if solution.locale == page.locale and solution.page-category == 'solutions' and solution.type == page.uid %} 
            <div class="col-lg-6 col-md-6 text-center">
				<div class="content-inner">
                <img class="mx-auto rounded-circle" src="{{ solution.img }}"
                    alt="{{ solution.title }}" width=130>
                <h2>{{ solution.title }}</h2>
                </a>
                <p class="text-description">{{ solution.subdesc }}</p>
                <p class="text-link"><a href="{{ site.baseurl }}{{ solution.permalink }}">READ MORE</a></p>
				</div>
            </div>
			{% endif %}
            {% endfor %}
        </div>
