
<style>
.form-valid  {
  opacity:0.5;
}

.form-control-label abbr {
  text-decoration: none;
  font-weight: normal;
}
</style>
<div class="my-5">
<form data-toggle="validator" role="form" id="form-support">
	<div class="form-group row">
	<div class="col-sm-6">
		<input type="text" name="firstname" class="form-control form-control-sm" id="firstname" placeholder="First name*" data-error="Please enter your first name" required="">
	</div>
	<div class="col-sm-6">
		<input type="text" name="lastname" class="form-control form-control-sm" id="lastname" placeholder="Last name*" data-error="Please enter your last name" required="">
	</div>
	</div>
	<div class="form-group row">
	<div class="col-sm-6">
		<input type="email" name="email" class="form-control form-control-sm" id="email" placeholder="Email*" data-error="Please enter your email" required="">
	</div>
	<div class="col-sm-6">
		<input type="text" name="phone" class="form-control form-control-sm" id="phone" placeholder="Phone">
	</div>
	</div>
	<div class="form-group row">
	<div class="col-sm-12">
		<input type="text" name="company" class="form-control form-control-sm" id="company" placeholder="Company">
	</div>
	</div>
	<div class="form-group row">
	<div class="col-sm-12">
		<textarea name="message" class="form-control" id="message" placeholder="Message*" required="" data-error="Please enter your message"></textarea>
	</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-12">
			<input name="privacy" class="form-control form-control-sm" type="checkbox" value=""  data-error="Pleas  to terms and conditions" id="privacy" required>
			<label class="form-check-label" for="invalidCheck">Agree to terms and conditions *</label>
		</div>
	  </div>
	<div class="form-group row">
		<div class="col-sm-12">
		<button type="submit" class="btn btn-primary">Send</button>
		</div>
	</div>
</form>
<!-- /.container -->
<script>





</script>