<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container container-top"><div class="dir"><span class="loctop">{{site.data.settings.info.address}} / {{site.data.settings.info.region}}</span><span class="mailtop"><a href="mailto:{{site.data.settings.info.mail}}">{{site.data.settings.info.mail}}</a></span></div>
    <div class="masthead-title">
	{% include language-selector.html %}
	<p class="social-menu">{% include social-icons.html %}</p>
	<p style="text-align:right; display: table; position: absolute; top: 40px; right: 10px;"><a id="show">i</a></p>
	</div>
  </div>
<div class="container menu-container" style="width: 100%;border-top: 1px solid #adaeae;">
  <div class="inner-content">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/{{ site.baseurl }}"><img class="logo" style="width:200px" src="{{ site.baseurl }}/assets/img/home/logo_black.png" alt="Dgi"></a>      
  </div>

  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">

    <ul class="nav navbar-nav navtopmenu pull-right">
		{% assign folder1 = site.pages | sort: 'sort_ranking' | reverse %}
		{% for item in site.data.settings.menu[page.locale] %}
		<li class="dropdown li-{{ item.uid }}">
		<a href="{{ '/' | append: item.url | relative_url}}"><span class="nav-label {% if page.uid == item.uid %} active {% endif %}">{{ site.data.locales[page.locale].menu[item.uid] }}</span></a><a "#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
			<ul class="dropdown-menu">
				{% for subitem in folder1 %}
				{% if subitem.locale == page.locale and subitem.page-category == item.uid %} 
						<li><a class="{% if page.uid == subitem.uid %} active {% endif %}" href="{{ site.baseurl }}{{ subitem.permalink }}">{{ subitem.title }}</a></li>
				{% endif %} 
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
    </ul> 
  </div>
  </div>
  </div>
</nav>
<!-- End Header -->