<section id="moduli-child" class="moduli-child">
    <div class="container">
        <div class="row padding">
            {% for modulo in site.data.moduli  | sort: 'sort_id'%}
			{% if modulo.locale == page.locale and modulo.type == page.tag %}
            <div class="col-lg-6 col-md-6 text-center">
				<div class="module-custody">
                <h3>{{ modulo.name }}</h3>
				<p class="intro">{{ modulo.subdesc }}</p>
				<p class="description">{{ modulo.description }}</p>
                </div>
            </div>
			{% endif %}
            {% endfor %}
        </div>
        <br>
    </div>
</section>
