			<div class="row padding">
            {% for solution in site.solutions %}
			{% if solution.type == 'custody' %}
            <div class="col-lg-6 col-md-6 text-center">
				<div class="content-inner">
                <img class="mx-auto rounded-circle" src="{{ solution.img }}"
                    alt="{{ solution.title }}" width=130>
                <h5>{{ solution.title }}</h5>
                </a>
                <p class="text-description">{{ solution.subdesc }}</p>
                <p class="text-link"><a href="{{ site.baseurl }}/{{ solution.url }}">DISCOVER</a></p>
				</div>
            </div>
			{% endif %}
            {% endfor %}
        </div>
