        
		{% assign folder1 = site.pages | sort: 'sort_id'%}
		{% for item in folder1 %}
		{% if item.locale == page.locale and item.page-category == 'custody' %} 
		<div class="container back-{{ item.uid }}">
		<div class="row padding back-{{ item.uid }}" style="padding:20px;">
            <div class="col-lg-6 col-md-6 text-center">
			<div class="content-inner">
                <img class="mx-auto rounded-circle" src="{{ site.baseurl }}{{ item.img }}"
                    alt="{{ item.title }}" width=130>
                <h2>{{ item.title }}</h2>
                </a>
                <p class="text-description">{{ item.subdesc }}</p>
                <p class="text-link" style="display:none"><a href="{{ site.baseurl }}{{ item.permalink }}">READ MORE</a></p>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
			<div class="content-inner">
            </div>
            </div>
        </div>
        </div>
			{% endif %} 
            {% endfor %}

		
		
		
		
		
		
