        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">LEARN MORE</h2>
            </div>
        </div>
        <div class="row padding">
		{% if page.locale == 'en'%}
			{% assign varmodule = site.custody %}
			{% assign btn1 = 'DISCOVER' %}
			{% assign btn2 = 'READ MORE' %}
			{% assign varmodule = site.custody %}
		{% else if %}
			{% assign varmodule = site.custodia %}
			{% assign btn1 = 'SCOPRI' %}
			{% assign btn2 = 'LEGGI TUTTO' %}
		{% endif %} 
		{% assign folder1 = site.pages | sort: 'sort_id'%}
		{% for c in folder1 %}
			{% if c.locale == page.locale and c.page-category == 'custody' %} 
				<div class="col-lg-2 col-md-2 text-center">
					<img class="mx-auto rounded-circle" src="{{ site.baseurl }}	{{ c.img }}"
						alt="{{ c.title }}" width=130>
					<h5>{{ c.title }}</h5>
					</a>
					<p class="text-link"><a id="btn-{{ c.title  | replace: " ", "-" }}"  href="{{ site.baseurl }}{{ c.permalink }}">{{ btn1 }}</a></p>
					<div class="text-description" style="display:none" id="{{ c.title  | replace: ' ', '-' }}" >{{ c.description }}
					<p class="text-link"><a href="{{ site.baseurl }}{{ c.permalink }}">{{ btn2 }}</a></p>
					</div>
				</div>
			{% endif %}
         {% endfor %}
			
        </div>
