	{% for modulo in site.data.vision | sort: 'sort_id' %}
	{% if modulo.locale == page.locale and modulo.tag == page.uid %}
	<div class="row padding">
		<div class="col-lg-4 col-md-4 text-center">
			<div class="module-vision">
			<h4>{{ modulo.name }}</h4>
			<p>{{ modulo.sub-description }}</p>
			<p style="display:none">{{ modulo.description }}</p>
			</div>
		</div>
		<div class="col-lg-8 col-md-8 text-center">
			<div class="module-vision">
			<img src="{{ modulo.photo }}"</p>
			</div>
		</div>
	</div>
	{% endif %}
	{% endfor %}


