<!doctype html>
<html lang="en">

{% include head-checksig.html %}
{% include header-checksig.html %}
{% include script-checksig.html %}

<body>
	<!-- Begin #title-section -->
	<section id="title-section" class="section-global-wrapper">
		<div class="container-fluid-kamn">
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper"
						style="background-image:url({{ site.baseurl }}{{ page.slider }});background-size: auto 100%; height: 400px; background-position: center;">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-dark"
								style="padding:120px 0px;margin:0px auto;">
								<h1 class="no_toc"><span class="alert">[header]</span>{{ page.header }}</h1>
								<p class="d-none d-lg-block"><span class="alert">[subdesc]</span>{{ page.subdesc }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Begin #title-section -->
	<section id="institution" class="institution">
		<div class="container">
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper" style="">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-light"
								style="padding:50px 0px;margin:0px auto;">
								<h2><span class="alert">[title]</span>{{ page.title }}</h2>
								<p><span class="alert">[description]</span>{{ page.description }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container container-content">
			<div class="row">
				<div class="text-link"><span class="alert">[contenuto della pagina]</span>{{ content }}</div>
			</div>
		</div>
	</section>
	<!-- institutions -->
	<section id="institution" class="institution"><span class="alert">contenuto da modificare in collection _data/bitcoins.yml filtrato per [locale]</span>
		{% include why-bitcoins.html %}
	</section>
	<!-- Begin #cta-section -->
	<section id="cta-section" class="section-global-wrapper"><span class="alert">sezione per link a dgi.it - in implementazione </span>
		<div class="container-fluid-kamn">
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-dark"
								style="padding:120px 0px; max-width:800px; margin:0px auto;">
								<h1 class="no_toc">DISCOVER MORE ABOUT BITCOINS</h1>
								<p class="d-none d-lg-block">Platea dictumst vestibulum rhoncus est pellentesque elit
									ullamcorper dignissim cras. Dictum sit amet justo donec enim diam vulputate ut. Eu
									nisl nunc mi ipsum faucibus.</p>
								<div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="#">GO TO DGI</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Begin #company-section -->
	<section id="cta-section" class="section-global-wrapper"><span class="alert">sezione che richiamerà i dati dell'articolo relativo - in implementazione </span>
		<div class="container-fluid-kamn">
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper"
						style="background-image:url(https://via.placeholder.com/1600x400);background-size: auto 100%; height: 400px; background-position: center;">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-dark"
								style="padding:120px 0px; max-width:800px; margin:0px auto;">
								<h4 class="no_toc">READ ALSO</h4>
								<h2 class="no_toc">INSTITUTIONS</h2>
								<p class="d-none d-lg-block">Platea dictumst vestibulum rhoncus est pellentesque elit
									ullamcorper dignissim cras. Dictum sit amet justo donec enim diam vulputate ut. Eu
									nisl nunc mi ipsum faucibus.</p>
								<div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="#">GO NOW</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

{% include footer-checksig.html %}

</html>