<!doctype html>
<html lang="en">

{% include head-checksig.html %}
{% include header-checksig.html %}
{% include script-checksig.html %}

<body>
  <!-- Begin #title-section -->
	<section id="title" class="section-global-wrapper">
		<div class="container-fluid-kamn">
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper"
						style="background-image:url({{ page.slider }});background-size: auto 100%; height: 400px; background-position: center;">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-dark"
								style="padding:120px 0px; max-width:800px; margin:0px auto;">
								<h1 class="no_toc">{{ page.header }}</h1>
								<p class="d-none d-lg-block">{{ page.subdesc }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
  <!-- institutions -->
	<section id="content" class="content">
		<div class="container">
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper" style="">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-dark"
								style="padding:50px 0px; max-width:800px; margin:0px auto;">
								<h2>{{ page.title }}</h2>
								<p>{{ page.description }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container containger-content">
			<div class="row">
				<div class="text-link">{{ content }}</div>
			</div>
		</div>
	</section>	
<section id="team" class="team">
    <div class="contain bxslider">
			{% include company/team.html %}
        <br>
    </div>
</section>	
</body>

{% include footer-checksig.html %}

</html>