<!doctype html>
<html lang="en">

{% include head-checksig.html %}
{% include header-checksig.html %}
{% include script-checksig.html %}

<body>
	<!-- Begin #title-section -->
	<section id="title-section" class="section-global-wrapper">
		<div class="container-fluid-kamn">
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper" style="">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-dark"
								style="padding:120px 0px; margin:0px auto;">
								<h1 class="no_toc"><span class="alert">[header]</span>{{ page.header }}</h1>
								<p class="d-none d-lg-block"><span class="alert">[subdesc]</span>{{ page.subdesc }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper"
						style="background-image:url({{ site.baseurl }}{{ page.slider }});background-size: auto 100%; height: 400px; background-position: center;">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-dark"
								style="padding:120px 0px; margin:0px auto;"><span class="alert">[slider]</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- institutions -->
	<section id="institution" class="institution">
		<div class="container">
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper" style="">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-dark"
								style="padding:50px 0px; margin:0px auto;">
								<h2 class="no_toc"><span class="alert">[title]</span>{{ page.title }}</h2>
								<span class="alert">[description]</span>{{ page.description }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container container-content">
				<div class="row">
					<div class="text-link"><span class="alert">[contenuto della pagina]</span>{{ content }}</div>
				</div>
			</div>
		</div>
	</section>
	<section id="moduli" class="institution">
		<div class="container">contenuto da modificare in collection _data/solutions-yml filtrati per [tag] e [locale]
			{% include moduli.html %}
			<br>
		</div>
	</section>
	<!-- Begin #company-section -->
	<section id="company-section" class="section-global-wrapper">
		<div class="container-fluid-kamn">
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-dark"
								style="padding:120px 0px; max-width:800px; margin:0px auto;">
								<h1 class="no_toc">FILL IN THE FORM FURTHER INFORMATION</h1>
								<p class="d-none d-lg-block">FORM</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

{% include footer-checksig.html %}

</html>