<!doctype html>
<html lang="it">

  {% include head-checksig.html %}
  {% include header-it-checksig.html %}
  {% include script-checksig.html %}

  <body>
    <!-- Begin #title-section -->
    <section id="title-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
			{% include section-home.html %}
			{% include section-m-home.html %}
			{% include section-b-home.html %}
        </div>
    </section>
<!-- institutions -->
<section id="institution-sections" class="institutions">
    <div class="contain bxslider">
			{% include institutions/institutions.html %}
        <br>
    </div>
</section>		
<!-- Begin #company-section -->
<section id="company-section" class="company section-global-wrapper"> 
	<div class="container-fluid-kamn">
		<div class="row">
			<div class="it-hero-wrapper it-dark it-overlay">
			  <!-- - img-->
			  <div class="img-responsive-wrapper" style="background-image:url(https://via.placeholder.com/1600x400);background-size: auto 100%; height: 400px; background-position: center;">
				<div class="img-responsive">
					<div class="it-hero-text-wrapper bg-dark" style="padding:120px 0px; max-width:800px; margin:0px auto;">
						<div class="content-inner">
						  <p class="no_toc">Company</p>
						  <p class="d-none d-lg-block description">Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Dictum sit amet justo donec enim diam vulputate ut. Eu nisl nunc mi ipsum faucibus.</p>
						  <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="#">ABOUT</a></div>
						</div>
					 </div>
				</div>
			  </div>
			</div>
		</div>
	</div>
</section>
<!-- Begin #company-section -->
<section id="form-section" class="form-section section-global-wrapper"> 
	<div class="container-fluid-kamn">
		<div class="row">
			<div class="it-hero-wrapper it-dark it-overlay">
			  <!-- - img-->
			  <div class="img-responsive-wrapper">
				<div class="img-responsive">
					<div class="it-hero-text-wrapper bg-dark" style="padding:120px 0px; max-width:800px; margin:0px auto;">
						  <h1 class="no_toc">FILL IN THE FORM FURTHER INFORMATION</h1>
						  <p class="d-none d-lg-block">FORM</p>
					 </div>
				</div>
			  </div>
			</div>
		</div>
	</div>
</section>
</body>

  {% include footer-checksig.html %}
</html>
