<!doctype html>
<html lang="en">

  {% include head-checksig.html %}
  {% include header-checksig.html %}
  {% include script-checksig.html %}

  <body>
    <!-- Begin #title-section -->
    <section id="title" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
			{% include home/section-home.html %}
        </div>
    </section>
<!-- institutions -->
<section id="institution-sections" class="institutions"><span class="alert">contenuto da modificare in content/{{ page.locale }}/institutions</span>
    <div class="contain bxslider">
			{% include institutions/institutions-slider.html %}
        <br>
    </div>
</section>		
	{% if site.data.cta[page.uid] %}
	{% include cta.html uid = page.uid %}
	{% endif %}
<!-- Begin #company-section -->
<section id="form-section" class="form-section section-global-wrapper"> 
	<div class="container-fluid-kamn">
		<div class="row">
			<div class="it-hero-wrapper it-dark it-overlay">
			  <!-- - img-->
			  <div class="img-responsive-wrapper">
				<div class="img-responsive">
					<div class="it-hero-text-wrapper bg-light" style="padding:120px 0px; max-width:800px; margin:0px auto;">
						  <h1 class="no_toc">FILL IN THE FORM FURTHER INFORMATION</h1>
						  <p class="d-none d-lg-block">{% include form.html %}</p>
					 </div>
				</div>
			  </div>
			</div>
		</div>
	</div>
</section>
</body>

  {% include footer-checksig.html %}
</html>
