<div class="container-inner">
<div class="row padding">
	{% assign folder1 = site.pages%}
	{% for section in folder1 %}
	{% if section.locale == page.locale and section.page-tag == 'sectop' %} 
	<div class="col-lg-12 col-md-12 {{ section.class }}" style="background-image:url({{ section.slider }});">
		<div class="middle" style="background-image:url({{ section.photo }});">
		<div class="content-inner">
		<h1>{{ section.title }}</h1>
		<p class="description" >{{ section.subdesc }}</p>
		<a href="{{ site.baseurl }}{{ section.permalink }}">{{ section.title }}</a>
		</div>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</div>
</div>
<div class="container-inner">
<div class="row padding">
	{% assign folder1 = site.pages%}
	{% for section in folder1 %}
	{% if section.locale == page.locale and section.page-tag == 'secmid' %} 
	<div class="col-lg-6 col-md-6 {{ section.class }}" style="background-image:url({{ section.slider }});">
		<div class="middle" style="background-image:url({{ section.photo }});">
		<div class="content-inner">
		<h1>{{ section.title }}</h1>
		<p class="description" >{{ section.subdesc }}</p>
		<a href="{{ site.baseurl }}{{ section.permalink }}">DISCOVER MORE</a>
		</div>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</div>
</div>
<div class="container-inner">
<div class="row padding">
	{% assign folder1 = site.pages%}
	{% for section in folder1 %}
	{% if section.locale == page.locale and section.page-tag == 'secbtm' %} 
	<div class="col-lg-12 col-md-12 {{ section.class }}" style="background-image:url({{ section.slider }});">
		<div class="middle" style="background-image:url({{ section.photo }});">
		<div class="content-inner">
		<h1>{{ section.title }}</h1>
		<p class="description" >{{ section.subdesc }}</p>
		<a href="{{ site.baseurl }}{{ section.permalink }}">MORE ABOUT</a>
		</div>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</div>
</div>
